body{
    background: lightslategray;
}

header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background: lightseagreen;
}

#logo{
    width: auto;
    height: 10vh;
}

#title{
    padding-top: 2vh;
}

.contenedor{
    width: 100%;
    height: auto;
}